<footer class="footer-container">
  <div class="footer-section">
      <h2 class="footer-title">Farmmer Seva</h2>
      <p class="footer-text">
          किसान सेवा आपको कुसुम योजना से संबंधित जानकारी अपनी वेबसाइट के माध्यम से ऑनलाइन उपलब्ध कराती है, जिससे आप आसानी से जानकारी प्राप्त करके लाभ उठा सकते हैं।
      </p>
  </div>

  <div class="footer-section">
      <h3 class="footer-subtitle">Contact Us</h3>
      <p class="footer-contact">+91 8960829541</p>
      <p class="footer-contact">info.kisankrishi&#64;gmail.com</p>
  </div>

  <div class="footer-section">
      <h3 class="footer-subtitle">News Later</h3>
      <input type="text" class="footer-input" placeholder="Name">
      <input type="email" class="footer-input" placeholder="Email">
      <button class="footer-button">SUBMIT</button>
  </div>

  <div class="footer-section">
      <h3 class="footer-subtitle">Our Address</h3>
      <p class="footer-address">Lodhi Rd, CGO Complex, Pragati Vihar, New Delhi, Delhi 325088</p>
  </div>

  <div class="footer-bottom">
      Copyright © All Rights Reserved - Kisan Krishi Scheme
  </div>
</footer>
