<div id="benefits" class="addinfo-container">
  <div class="info-card">
      <h3 class="info-title">सोलर पंप से किसानों को ये होंगे लाभ -</h3>
      <ul class="info-list">
          <li>किसानों को अब फसलों की सिंचाई के लिए बिजली या डीजल पर निर्भर नहीं रहना पड़ेगा।</li>
          <li>इन पंपों के रखरखाव का खर्च राज्य सरकार खुद वहन करेगी।</li>
          <li>यह पंप अन्य पंपों की तुलना में 40% कम बिजली की खपत करेगा।</li>
          <li>किसान सौरलता बिजली का उत्पादन भी कर सकेंगे और उसे ग्रिड को बेच सकेंगे। इससे उन्हें अतिरिक्त आय होगी।</li>
      </ul>
  </div>

  <div class="info-card">
      <h3 class="info-title">सोलर पंप लगाने में कितना खर्च आता है?</h3>
      <p>अगर आप सोलर वाटर पंप लगाना चाहते हैं, और आपके पास पहले से ही वाटर पंप लगा हुआ है, तो इसकी लागत लगभग 55000 हजार प्रति 1 hp है।</p>
      <ul class="info-list">
          <li>1 HP Solar Pump 55,000</li>
          <li>3 HP Solar Pump 1,10,000</li>
          <li>5 HP Solar Pump 1,65,000</li>
          <li>7.5 HP Solar Pump 4,12,500</li>
          <li>10 HP Solar Pump 5,50,000</li>
      </ul>
  </div>

  <div class="info-card">
      <h3 class="info-title">पीएम कुसुम योजना का मुख्य उद्देश्य</h3>
      <p>प्रधानमंत्री कुसुम योजना का मुख्य उद्देश्य किसानों को मुफ्त बिजली देकर उनकी आर्थिक स्थिति में सुधार करना है। इस योजना के तहत किसानों को सिंचाई के लिए सोलर पैनल और सोलर पंप की सुविधा प्रदान की जाती है। इसी समस्याओं को ध्यान में रखते हुए सरकार भी चाहती है कि किसान इस योजना का लाभ उठाकर सोलर पंप लगा सकें। जिससे उनकी आय में वृद्धि होगी और जहां सूखा पड़ता है वहां भी कृषि की जा सकेगी।</p>
  </div>
</div>
