<div class="info-container">
  <h2 class="info-title">कुसुम योजना की महत्वपूर्ण जानकारी</h2>

  <div class="info-cards">
    <div class="info-card">
      <h3>1- कुसुम योजना 2024 के लाभ</h3>
      <ul>
        <li>इस योजना का लाभ देश के सभी किसान उठा सकते हैं।</li>
        <li>कुसुम योजना उन किसानों के लिए फायदेमंद होगी जहाँ राज्य सूखे से पीड़ित हैं और जहाँ बिजली की समस्या है।</li>
        <li>इस योजना के तहत किसानों को केंद्र सरकार की ओर से सोलर पैनल लगाने के लिए 60% सहायता दी जाएगी और बैंक 30% ऋण सहायता प्रदान करेगा और केवल किसान को 10% का भुगतान करना होगा।</li>
        <li>कुसुम योजना के माध्यम से पर्यावरण पर कोई प्रतिकूल प्रभाव नहीं पड़ेगा।</li>
        <li>आपका सोलर पंप आवेदन पत्र भरने के 90 दिनों के भीतर सक्रिय हो जाता है।</li>
      </ul>
    </div>

    <div class="info-card">
      <h3>2- कौन होंगे पीएम किसान योजना के लाभार्थी ?</h3>
      <ul>
        <li>पंचायत</li>
        <li>किसान</li>
        <li>किसान उत्पादक संगठन</li>
        <li>जल उपयोगकर्ता एसोसिएशन</li>
        <li>किसानों का समूह</li>
        <li>सहकारी समितियाँ</li>
      </ul>
    </div>

    <div class="info-card">
      <h3>3- PMKY के माध्यम से कितनी सब्सिडी दी जा रही है ?</h3>
      <p>
        इस योजना के तहत किसानों को केंद्र सरकार की ओर से सोलर पैनल लगाने के लिए 60% सहायता दी जाएगी और बैंक 30% ऋण सहायता प्रदान करेगा और केवल किसान को 10% का भुगतान करना होगा।
      </p>
    </div>
  </div>
</div>
